form{
    input {
      width: 31%;
      text-align: center;
      padding: 10px;
      font-size: 17px;
      font-family: inherit;
      background-color: white;
      color: #000000;
      margin-bottom: 20px;
      border-bottom: 1.5px solid #000000;
      border-right: 0;
      border-left: 0;
      border-top: 0;
 
      &:focus{
        outline: 0;
      }

      &::placeholder{
        color: #adadad;
      }
    }
  }
  
  @media only screen and (max-width: 600px) {
    form{
      margin-top: 20px;
      input {
        width: 80%;
        font-size: 17px;
      }
    }
  }