@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

i {
  transition: all 0.5s ease-in-out;
  color: #e2e2e2;
  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.5);
    color: #4ea9ff;
  }
}

.bg-img {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: block;
  //width: 100%;
  height: 100vh;
  background-position: bottom center;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/696680/pexels-photo-696680.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.login-box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: flex;
  width: 60%;
  height: 100vh;
  margin-right: auto;
  background-color: #fff;
  opacity: 1;
}

input::placeholder,
label {
  color: #888888;
}

input:focus::-webkit-input-placeholder {
  color: #ffffff;
}

input[type="text"] {
  text-align: center;
  font-family: 'Sulphur Point', sans-serif;
  border-bottom: 1.5px solid #bebebe;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 15px 15px;
  width: 70%;
  outline: none;
  color: #979797;
  border-radius: 1px;
  transition: 0.25s;
  font-size: 15px;
  margin-bottom: 10px;

  &:focus{
    border-bottom: 1.5px solid #53a6ff;
  }
}

input[type="password"] {
  text-align: center;
  border-bottom: 1.5px solid #bebebe;
  font-family: 'Sulphur Point', sans-serif;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 15px 15px;
  width: 70%;
  outline: none;
  color: #6d6b6b;
  border-radius: 1px;
  transition: 0.25s;
  font-size: 15px;
  margin-bottom: 10px;

  &:focus{
    border-bottom: 1.5px solid #53a6ff;
  }
}

input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid;
  background-color: #0069d9;
  border-color: #0062cc;
  padding: 14px 40px;
  outline: none;
  color: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.25s;
  cursor: pointer;
  width: 60%;
  
  &:hover {
    background-color: #084281;
    border-color: #084281;
  }

  &:disabled{
    background-color: #dddddd;
    border-color: #dddddd;
  }
}

.icon__password {
  background: url(https://img.icons8.com/cotton/20/000000/lock.png) no-repeat scroll 3px 14px;
}

.icon__email {
  background: url(https://img.icons8.com/dusk/20/000000/gmail.png) no-repeat scroll 3px 14px;
}

.error{
  font-family: 'Sulphur Point', sans-serif;
  color: #e04040;
  margin: 1px;
  font-size: 13px;

  transition: all 1s ease-in-out;
}

@media only screen and (max-width: 600px) {

  .login-box {
    width: 100%;
    margin-left: -3px;
  }

  .bg-img {
    background: white;
  }

  input[type="text"] {
    width: 90%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  input[type="password"] {
    width: 90%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 90%;
    font-size: 15px;
    margin-bottom: 10px;
  }

  .box {
    border-radius: 0.9rem;
    padding: 25px;
    margin-top: 80px;
    width: 80%;
  }
}
