<div class="row center-xs bg-img">
  
  <div class="col-xs-12 col-md-6 col-lg-6">
    
    <div class="row center-xs login-box">

      <div class="col-xs-6"
        (click)="onGoToSignIn()">
        <p> <i class="fas fa-sign-in-alt"></i></p>
      </div>
     
      <div class="col-xs-6"
        (click)="onGoToSignUp()">
        <p> <i class="fas fa-user-plus hvr-grow"></i></p>
      </div>
   
      <app-signin *ngIf="showSignIn"></app-signin>
      <app-signup *ngIf="showSignUp"></app-signup>
    </div>

  </div>

</div>