i{
    transition: all .5s ease-in-out;
    color: #e2e2e2;
    cursor: pointer;
    &:hover{
        transition: all .2s ease-in-out;
        transform: scale(1.5);
        color: #4ea9ff;
    }
}

.box {
    border: 0;
    border-radius: 0.9rem;
    box-shadow: 0.2rem 0.3rem 1rem 0.8rem #e2e2e2;
    padding: 35px;
    background: white;
    margin-top: 150px;
}

input::placeholder, label {
    color: #888888;
}

input:focus::-webkit-input-placeholder {
    color: #ffffff;
}

input[type = "text"] {
    text-align: center;
    border: 2px solid #d4d4d4;
    padding: 10px 10px;
    width: 50%;
    outline: none;
    color: #000000;
    border-radius: 10px;
    transition: 0.25s;
    font-size: 15px;
    margin-bottom: 10px;
   
}

input[type = "password"] {
    text-align: center;
    border: 2px solid #d4d4d4;
    padding: 10px 10px;
    width: 50%;
    outline: none;
    color: #000000;
    border-radius: 10px;
    transition: 0.25s;
    font-size: 15px;
    margin-bottom: 10px;
}

input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid;
    background-color: #0069d9;
    border-color: #0062cc;
    padding: 14px 40px;
    outline: none;
    color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.25s;
    cursor: pointer;
    width: 60%;
    &:hover{
        background-color: #084281;
        border-color: #084281;
    }
}

.icon__password {
    background: url(https://img.icons8.com/cotton/30/000000/lock.png) no-repeat scroll 17px 7px;
}

.icon__email {
    background: url(https://img.icons8.com/dusk/30/000000/gmail.png) no-repeat scroll 17px 7px;
}


@media only screen and (max-width: 600px) {
  
        input[type="text"] {
        width: 90%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    input[type="password"] {
        width: 90%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        width: 90%;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .box {
        border-radius: 0.9rem;
        padding: 25px;
        margin-top: 80px;
    }

  
}


