@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

#posterimg{
    margin-top: 26px;
    margin-bottom: 10px;
    width: 90%;
    border-radius: 25px;
}

hr{
    margin-bottom: 3rem;
    margin-top: 3rem;
}


#play{
    margin-top: 2rem;
    margin-bottom: 2rem;
    i{

        font-size: 8rem;
        color: #fffb0d;
        cursor: pointer;
        
    }
}

@media only screen and (max-width: 600px) {
    .my-pagination /deep/ .ngx-pagination li {
        font-size: 10px;
      }
}

