@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

html, body{
    height: 100%;
}

body{
    margin: 0;
    //background-color: #222831;
    font-family: 'Bowlby One SC', cursive;
}

body .container-fluid{
    padding-right: 1.0rem;
}

