@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body{
    margin: 0;
    //background-color: #222831;
    font-family: 'Bowlby One SC', cursive;
}

body .container-fluid{
    padding-right: 1.1rem;
}

