<form (ngSubmit)="onSignin()" [formGroup]="form">
    <p>Login</p>
    <input type="text" id="email" name="email" placeholder="Email" formControlName="email" class="icon__email">
    <input type="password" id="password" name="password" placeholder="Password" formControlName="password"
        class="icon__password" minlength="6">

    <input type="submit" value="Login" 
           [disabled]="form.get('email').hasError('required') ||
                form.get('email').hasError('pattern') ||
                form.get('password').hasError('minlength') || 
                form.get('password').hasError('required')">
</form>

<p @fade class="error" *ngIf="form.get('email').hasError('pattern') && form.get('email').touched">
    *Enter a valid email
</p>

<p @fade class="error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
    *Email is required
</p>

<p @fade class="error" *ngIf="form.get('password').hasError('minlength') && form.get('password').touched">
    *Password should contain at least 6 characters
</p>

<p @fade class="error" *ngIf="form.get('password').hasError('required') && form.get('password').touched">
    *Password is required
</p>

<app-spinner *ngIf="showSpinner"></app-spinner>