@import url('https://fonts.googleapis.com/css?family=Poiret+One');

#spinner{

    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    opacity: 0.8;
}

.spinner-content{

    margin: 15% auto;
    padding: 20px;
    margin: 15% auto;
    padding: 20px;
    width: 60%;

    p{
        color: white;
        font-family: 'Poiret One', cursive;
        font-size: 15px;
    }
   
}

#loading {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 15px solid #ffffff;
    border-radius: 50%;
    border-top-color: #0084ff;
    animation: spin 0.4s ease-in-out infinite;
    -webkit-animation: spin 0.4s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

@media only screen and (max-width: 600px) 
{  
  #loading{
    margin-top: 8rem;
  }

}